
    	* { 
    		padding: 0; 
    		margin: 0; 
    	}

    	.heading{
			text-align: center;
			padding-bottom: 20px;
			font-style: Arial;
			color: purple;
    	}
    	canvas { 
    		background: #D2B5D3; 
    		display: block; 
    		margin: 0 auto;
    		 }
    